/* Default import for ServiceNow */
@import '@servicenow/sass-kit/host';
/* import styles for the LoadingIcon Component*/
@import './components/LoadingIcon/LoadingIcon.scss';
/* Import styles for the ChoiceInput Component */
@import './components/ChoiceInput/style.scss';
/* Import styles for the ResponseTable Component */
@import './components/ResponseTable/style.scss';
/* Import styles for the TextInput Component */
@import './components/TextInput/style.scss';
/* Import styles for the TypeAhead Component */
@import './components/TypeAheadReference/styles.scss';

@import './components/PostFields/styles.scss';

@import './components/RequestDetails/style.scss';
/* SCSS for the "testing-project" REST Explorer component...this is our "parent component" */

.main-container {
    margin:     -1.5rem -0.5rem;
    min-height: 102vh;
    padding:    1rem 3rem;
    form div {
        margin: 1rem 0;
    }
    input {
        width:         15rem;
        border:        1px solid #000;
        border-radius: 4px;
        padding:       0.3rem 0.5rem;
    }
    select {
        width: 5rem;
        border-radius: 4px;
        padding: 0.3rem 0.5rem;
    }
    .hero-container {
        background-image:    url('./assets/background-image.jpg');
        background-size:     cover;
        background-position: calc(50% + 5rem) calc(50% + -5rem);
        min-height:          20rem;
    }
    .form-container {
        width:            35rem;
        margin:           0 2rem;
        padding:          1.5rem 2rem 1.5rem 1rem;
        font-weight:      600;
        border-radius:    0.4rem;
        background-color: #fff;
        color:            #000;
    }
    .request-container {
        margin:  0 -3rem -3rem;
        padding: 0 5rem 2.25rem 5rem;
        .request-url {
            padding: 0 0 1.5rem 0;
        }
    }
    .response-area {
        margin:     -1rem -3rem;
        height:     auto;
        min-height: 22rem;
    }
    .post-response {
        padding: 1rem 5rem;
    }
}
.user-greeting {
    margin-left: 2rem;
}