.type-ahead-reference{
    
    margin-bottom: 5px;
    .type-ahead-container {
        display: flex;
        justify-content: space-between;
    }
}
.type-ahead-reference input{
}
.type-ahead-reference ul::before{
    content: '';
}
.type-ahead-reference ul {
    list-style-type: none;
    margin: 0px 0 0 15rem;
    border: 1px solid grey;
    padding: 0;
    max-height: 5rem;
    overflow: scroll;
}
.type-ahead-reference li{
    padding: 5px 5px;
    cursor: pointer;
    font-size: .75rem;
}
.type-ahead-reference li:hover{
    background: lightgray;
    text-decoration: underline;
}
.drop-down-list {
    
}